* {
    padding: 0;
    margin: 0;
}

.change-regulations-main-wrapper {
    background-color: #2a2c30;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5vh;
    margin-top: 8.5vh;
}

.change-regulations-main-wrapper .change-regulations-header {
    width: 80vw;
    height: 7vh;
    background-color: #545861;
    margin-top: 8vh;
    border-radius: 5px 5px 0 0;
    text-align: center;
    line-height: 7vh;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.change-regulations-main-wrapper .change-regulations-content-wrapper {
    background-color: #3f4249;
    width: 80vw;
    border-radius: 0 0 5px 5px;
    display: flex;
    justify-content: center;
}

.change-regulations-main-wrapper .change-regulations-content-wrapper .change-regulations-tabs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85%;

}

.change-regulations-content-wrapper .change-regulations-tabs .tab-header-list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 3vh;
}

.change-regulations-content-wrapper .change-regulations-tabs .tab-content {
    background-color: #cdc9c9;
    width: 78vw;
    border-radius: 5px;
    margin-bottom: 2vh;
}

.change-regulations-tabs .tab-header-list .tab-header {
    padding: 1rem;
    width: calc(100% / 3);
    text-align: center;
    font-size: 17px;
    position: relative;
    background-color: #787575;
    border-radius: 20px 20px 0 0;
    transition: .6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    margin-left: 20px;
    color: rgb(206, 211, 206);
}

.change-regulations-tabs .tab-header-list .tab-header:hover {
    cursor: pointer;
}

.active {
    background-color: #cdc9c9;
    border-radius: 20px 20px 0 0;
}

.change-regulations-tabs .tab-header-list .tab-header b:nth-child(1) {
    position: absolute;
    left: -20px;
    width: 20px;
    height: 100%;
    top: 0;
    background-color: #cdc9c9;
    display: none;

}

.change-regulations-tabs .tab-header-list .tab-header b:nth-child(1)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3f4249;
    border-bottom-right-radius: 15px;
}

.change-regulations-tabs .tab-header-list .tab-header b:nth-child(2) {
    position: absolute;
    right: -20px;
    width: 20px;
    height: 100%;
    bottom: 0;
    background-color: #cdc9c9;
    display: none;
}

.change-regulations-tabs .tab-header-list .tab-header b:nth-child(2)::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #3f4249;
    border-bottom-left-radius: 15px;
    
}

.change-regulations-tabs .tab-header-list .tab-header.active {
    background-color: #cdc9c9;
    z-index: 10;
    color: black;
}

.change-regulations-tabs .tab-header-list .tab-header.active b:nth-child(1),
.change-regulations-tabs .tab-header-list .tab-header.active b:nth-child(2) {
    display: block;
    animation: curved-border-tab cubic-bezier(0.68, -0.55, 0.265, 1.55) .65s;
}

@keyframes curved-border-tab {
    from {
        background-color: #3f4249;
        
    } to {
        background-color: #cdc9c9;
    }
}

.h-0.active + .h-2 {
    background-color: gray;
}
