*{
    margin: 0;
    padding: 0;
}
.CreateNewLeague_wrapper{
    margin-top: 8.5vh;
    height: 60vh;
    background-color: #545861;
    display: flex;
    justify-content: center;
    align-items: center;
}
.CreateNewLeague_wrapper .create_wrapper {
    width: 60%;
    height: 40vh;
    border-radius: 10px;
    background-color: #666674;
    display: flex;
    align-items: center;
    position: relative;
}
.CreateNewLeague_wrapper .create_wrapper .title{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 2.5vh;
    left: 0;
    right: 0;
    text-align: center;
    color: white;
    font-size: 3vh;
    font-weight: 500;
}
.CreateNewLeague_wrapper .create_wrapper .content_wrapper{
    width: 100%;
    height: 60%;
    display: flex;
}
.CreateNewLeague_wrapper .create_wrapper .content_wrapper .input{
    width: 100%;
    height: 100%;
}
.CreateNewLeague_wrapper .create_wrapper .content_wrapper .input form{
    width: 100%;
    margin-top: 5vh;
    display: flex;
    margin-left: 15vh;
}
.CreateNewLeague_wrapper .create_wrapper .content_wrapper .input .form_content{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.CreateNewLeague_wrapper .create_wrapper .content_wrapper .input .form_content1,
.CreateNewLeague_wrapper .create_wrapper .content_wrapper .input .form_content2{
    display: block;
    width: 100%;
}
.CreateNewLeague_wrapper .create_wrapper .content_wrapper .input label{
    display: inline-block;
    color: white;
    font-size: 1rem;
    margin-bottom: 1vh;
    transition: 0.4s;
}
.CreateNewLeague_wrapper .create_wrapper .content_wrapper .form_content1:focus-within label,
.CreateNewLeague_wrapper .create_wrapper .content_wrapper .form_content2:focus-within label{
    color: #fe4880;
}
.CreateNewLeague_wrapper .create_wrapper .content_wrapper .form_content{
    display: flex;
}
.CreateNewLeague_wrapper .create_wrapper .content_wrapper .form_content1{
    margin-bottom: 3vh;
}
.CreateNewLeague_wrapper .create_wrapper .content_wrapper .form_content1 input{
    margin-left: 5vh;
    display: inline-block;
    width: 60%;
    padding: 10px 2px ;
    background-color: #f8f8f8;
    border-radius: 3px;
    margin-bottom: 1vh;
    border: none;
    position: static;
    padding: 10px;
}
.CreateNewLeague_wrapper .create_wrapper .content_wrapper .form_content2 input{
    margin-left: 2vh;
    display: inline-block;
    width: 28%;
    padding: 10px 2px ;
    background-color: #f8f8f8;
    border-radius: 3px;
    margin-bottom: 1vh;
    border: none;
    position: static;
    padding: 10px;

}
.CreateNewLeague_wrapper .create_wrapper .content_wrapper .form_content1 input:focus,
.CreateNewLeague_wrapper .create_wrapper .content_wrapper .form_content2 input:focus{
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}
.CreateNewLeague_wrapper .create_wrapper .content_wrapper .logo_input{
    width: 30%;
    height: 100%;
}
.CreateNewLeague_wrapper .create_wrapper button:active{
    background-color: #3cbe50;

}
.CreateNewLeague_wrapper .create_wrapper button:hover{
    border: 1px solid #ffffff;
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}
.CreateNewLeague_wrapper .create_wrapper .addLogo{
    width: fit-content;
    padding: 5px 10px;
    font-size: 2vh;
    color: white;
    background-color: #44B454;
    border: none;
    border-radius: 3px;
    margin-left: 1vh;
    margin-top: 3vh;
}
.CreateNewLeague_wrapper .create_wrapper .img_layout img{
    margin-top: 3vh;
    width: 14vh;
    height: 6vh;
}
.CreateNewLeague_wrapper .create_wrapper .createLeague {
    width: fit-content;
    padding: 5px 10px;
    font-size: 2vh;
    color: white;
    background-color: #44B454;
    border: none;
    border-radius: 3px;
    position: absolute;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    bottom: 2.5vh;
    left: 0;
    right: 0;
    text-align: center;
}
