*{
    padding: 0;
    margin: 0;
}
.Home_Organizer_wrapper{
    margin-top: 8.5vh;
    height: 60vh;
    background-color: #545861;
    position: relative;
    display: flex;
    justify-content: center;
}
.Home_Organizer_wrapper .clubNum{
    border-radius: 2px;
    color: white;
    width: fit-content;
    background-color: #44B454;
    position: absolute;
    top: 2vh;
    left: 3vh;
}
.Home_Organizer_wrapper .clubNum p{
    margin: 0;
    padding: 2px 5px;
}
.Home_Organizer_wrapper .menuWrapper {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.Home_Organizer_wrapper .menuWrapper .changePolicy,
.Home_Organizer_wrapper .menuWrapper .search,
.Home_Organizer_wrapper .menuWrapper .exit{
    width: fit-content;
    height: fit-content;
    padding: 3vh;
}
.Home_Organizer_wrapper .menuWrapper .changePolicy,
.Home_Organizer_wrapper .menuWrapper .exit{
    margin-left: 11vh;
    margin-right: 10vh;
}

.Home_Organizer_wrapper .menuWrapper .button{
    background-color: #63636d;
    border-radius: 15px;
    text-align: center;
    color: white;
    font-weight: 500;

}
.Home_Organizer_wrapper .menuWrapper .button a{
    text-decoration: none;
    color: #fff;
}
.Home_Organizer_wrapper .menuWrapper .button img{
    width: 10vw;
    height: 15vh;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
}
.Home_Organizer_wrapper .menuWrapper .button:active{
    background-color: #3e4043;
}
.Home_Organizer_wrapper .menuWrapper .button:hover{
    border: 3px solid #939496;
    box-shadow: rgba(244, 244, 244, 0.35) 0px 5px 15px;
}