.register_club_container {
    margin-top: 85px;
}
.register_club_table{
    width: 85%;
    margin-left: 7.5%;
    background-color: #3f4249;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 40px;
    padding-bottom: 20px;
}

.register_club_table .title_container{
    display: flex;
    background-color: #545861;
    border-radius: 10px 10px 0px 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.register_club_table img{
    margin-left: 15px;
}

.register_club_table .title{
    font-size: 32px;
    color: #ffffff;
    margin-left: 490px;
    margin-top: 7px;
}

.register_club_table .input_container{
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 20px;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
}

.register_club_table .label_text{
    display: flex;
    width: 650px;
    justify-content: space-between;
    margin-top: 20px;
}

.register_club_table .label{
    font-size: 18px;
    margin-top: 4px;
    color: #ffffff;
}

.register_club_table .input_in_main_page{
    height: 30px;
    width: 500px;
    border-radius: 20px;
    border-color: transparent;
    position: static;
}







