.register_club_container {
    margin-top: 8.5vh;
    background-color: #44474c;
    padding: 5vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10vh;
}
.register_club_table{
    width: 80%;
    background-color: #3f4249;
    border-radius: 10px 10px 0px 0px;
    padding-bottom: 20px;

}

.register_club_table .title_container{
    height: 8vh;
    display: flex;
    background-color: #545861;
    border-radius: 10px 10px 0px 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.register_club_table .title_container img{
    position: absolute;
    width: 3%;
    top: 1.5vh;
    left: 5vh;
}


.register_club_table .input_container{
    margin-top: 5vh;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 20px;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
}

.register_club_table .label_text{
    display: flex;
    width: 650px;
    justify-content: space-between;
    margin-top: 20px;
}

.register_club_table .label{
    font-size: 18px;
    margin-top: 4px;
    color: #ffffff;
}

.register_club_table .input_in_main_page{
    height: 30px;
    width: 500px;
    border-radius: 5px;
    border-color: transparent;
    position: static;
    padding: 10px 20px;
}

.register_club_table .add_logo_clb_img {
    width: 120px;
    height: 120px;
    margin-top: 5px;
    margin-left: 15px;
    margin-bottom: 10px;
}

.register_club_table .add_logo_clb_lb {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: large;
    background-color: #44B454;
    padding: 10px;
    border-radius: 5px;
}

.register_club_table .add_logo_clb_btn {
    display: none;
}

.register_club_table .save_btn_in_main_page {
    background-color: #44B454;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #ffffff;
    margin-right: 20px;
    border-radius: 5px;
    width: 100px;
    margin-top: 35px;
    margin-left: 46%;
    font-weight: bold;
    cursor: pointer;
}







