.SearchPlayer_Change{
    background: #ffffff;
    border: 1px solid #44B454;
    border-radius: 10px;
    min-height: 60vh;
    height: fit-content;
    width: 60vw;
    padding: 8vh 4vw 0 4vw;

    display: flex;
    flex-direction: column;
}
.popup{
    position: fixed;
    top: 0;
    left: 0;
    margin:20vh 20vw;
}
.popup_inner{
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 640px;
}
.SearchPlayer-content_Change{
    display: flex;
    flex-direction: row;
    padding-bottom: 10vh;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.content_right_searchPlayer_Change{
    flex:1;
    position: relative;
    width: 200px;
    margin-left: 5vw;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.content_left_searchPlayer_Change{
    flex:1;
    display: flex;
    flex-direction: column;
}
.content_middle_searchPlayer_Change{
    flex:3;
    display: flex;
    flex-direction: column;

    height: fit-content;

}
.searchPlayer--image_Change{
    border-style: solid;
    border-color: #44B454;
    border-width: 1px;
    width: 15vw;
    height: 20vh;
    max-width: 15vw;
    max-height: 20vh;
}
.btn_imgPlayer_change_lb{
    background-color: #44B454;
    border-radius: 5px;
    border:none;
    margin-top: 5px;
    margin-left: 4vw;
    padding: 5px;
    width: fit-content;
    display: flex;
    
    color: #fff;
    font-size: 14px;
}
.btn_imgPlayer_change_lb:hover{
    background-color: #ffcc02;
    color: #000;
}
.btn_imgPlayer_change_btn{
    display: none;
}
.titleContent_searchPlayer_item_Change{
    padding-top: 2px;
    min-width: 120px;
}
.titleContent_searchPlayer_item_Change+ .titleContent_searchPlayer_item_Change{
    margin-top: 3vh;
}
.Player_information_Change{
    border: 1px;
    border-style: solid;
    border-color: #44B454;
    border-radius: 10px;

    width: fit-content;
    min-width: 300px;
    text-align: center;
    position:static;
    
    height: 3vh;
    margin-bottom: 3.1vh;
}

.searchPLayer_button_change_Change{
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
}
.searchPlayer_button_delete_Change{
    background-color: #B44444;
    border-radius: 10px;
    border:none;
    width: 5vw;
    height: 5vh;
    margin: 1vh 1vw;
    color: white;
}
.searchPlayer_button_exit_Change{
    background-color: #19bc2a;
    border-radius: 10px;
    border:none;
    width: 5vw;
    height: 5vh;
    margin: 1vh 1vw;
    color: white;
}
.searchPlayer_button_fix_Change{
    background-color: #2478C6;
    border-radius: 10px;
    border:none;
    width: 5vw;
    height: 5vh;
    margin: 1vh 1vw;
    color: white;
}
button:hover{
    color: black;
    background-color: cadetblue;
    cursor: pointer;
}
#Player_object{
    margin-top: 3px;
    border-color: #44B454;
    border-radius: 10px;
    height: 3.2vh;
    text-align: center;
    color: rgb(133, 132, 132);
}