*{
    margin: 0;
    padding: 0;
}
.createAccount_wrapper{
    margin-top: 8.5vh;
    height: 70vh; 
    background-color: #545861;
    display: flex;
    justify-content: center;
    align-items: center;
}
.createAccount_wrapper .content_wrapper{
    height: 50vh;
    width: 60%;
}
.createAccount_wrapper .content_wrapper .title{
    height: 15%;
    width: 100%;
    background-color: #7c7c8a;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
    font-weight: 500;
    color: white;
    position: relative;
    border-radius: 10px 10px 0 0 ;
}
.createAccount_wrapper .content_wrapper .title .icon_title{
    position: absolute;
    top: 1.7vh;
    left: 5vh;
}
.createAccount_wrapper .content_wrapper .title img{
    width: 5vh;
    height: 5vh;
}
.createAccount_wrapper .content_wrapper .content{
    height: 85%;
    width: 100%;
    background-color: #666674;
    border-radius: 0px 0px 10px 10px ;
    display: flex;
    justify-content: center;
    position: relative;
}
.createAccount_wrapper .content_wrapper .content form{
    width: 80%;
    margin-top: 5vh;
}
.createAccount_wrapper .content_wrapper .content .form_content{
    display: block;
    width: 100%;
    margin-bottom: 3vh;
}
.createAccount_wrapper .content_wrapper .content .form_content label,
.createAccount_wrapper .content_wrapper .content .form_combobox label{
    display: inline-block;
    width: 15%;
    color: white;
    font-size: 1rem;
    margin-bottom: 1vh;
    transition: 0.4s;
    margin-left: 20vh;
}
.createAccount_wrapper .content_wrapper .content .form_content:focus-within label,
.createAccount_wrapper .content_wrapper .content .form_combobox:focus-within label{
    color: #fe4880;

}
.createAccount_wrapper .content_wrapper .content .form_content input{
    margin-left: 5vh;
    display: inline-block;
    width: 40%;
    padding: 10px 2px ;
    background-color: #f8f8f8;
    border-radius: 3px;
    margin-bottom: 1vh;
    border: none;
    position: static;
}
.createAccount_wrapper .content_wrapper .content .form_combobox select{
    margin-left: 5vh;
    display: inline-block;
    width: 16%;
    padding: 10px 2px ;
    background-color: #f8f8f8;
    border-radius: 3px;
    margin-bottom: 1vh;
    border: none;
}
.createAccount_wrapper .content_wrapper .content button{
    height: fit-content;
    padding: 10px 20px;
    font-size: 2vh;
    color: white;
    background-color: #44B454;
    border: none;
    border-radius: 3px;
    position: absolute;
    bottom: 2.5vh;
    text-align: center;
}
.createAccount_wrapper .content_wrapper .content button:active{
    background-color: #3cbe50;

}