.ManagerCoach_body{
    padding-top: 10.5vh;
    background-color: rgba(84, 88, 97, 0.5);
}
.Manager_SearchCoach{
    margin: 0 12vh;
    background-color: #848282;

    border: 1px solid #000;
    border-radius: 0px 0px 10px 10px;
    min-height: 60vh;
    height: fit-content;
    padding: 2vh 4vw 0 4vw;

    display: flex;
    flex-direction: column;
}
.Manager_header_listCoach{
    height: 50px;
    padding: 10px;

    background: #CDC9C9;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #494747;

    display: flex;
}
#Manager_content--hlv{
    flex:1;
    padding-left: 30px;
}
#Manager_content--caulacbo{
    flex:1;
    padding-left: 90px;

}
#Manager_content--quoctich{
    flex:1;
}
.Manager_list-Coach{
    background-color: #848282;
    display: flex;
    padding: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 38px;
    color: #FFFFFF;
    align-items: center;
}
.Manager_list-Coach:hover{
    color: #494747;
    cursor: pointer;
}
.Manager_Coach--name{
    flex:1;
    display: inline;
    margin-left: 10px;
}
.Manager_Coach--club{
    flex:1
}
.Manager_Coach--country{
    flex:1
}