.Home_tier1{
    margin-top: 8.5vh;
    height: fit-content;
}
.Home_tier1 .home_container{
    min-height: 70vh;
    height: fit-content;
    background-color: #545861;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Home_tier1 .home_container .league_table{
    position: relative;
    width: 60%;
    min-height: 60vh;
    height: fit-content;
    margin-top: 3vh;
    color: white;
    background-color: rgb(93, 95, 98);
    margin-bottom: 2vh;
}
.Home_tier1 .home_container .league_table table{
    padding: 10px 100px;
    width: 100%;
}
.Home_tier1 .home_container .league_table thead{
    font-size: 3.5vh;
}
.Home_tier1 .home_container .league_table .league_infor{
    width: 100%;
    display: flex;
    border: 1px solid rgb(119, 120, 122);
    background-color: rgb(86, 87, 90);
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.Home_tier1 .home_container .league_table .league_infor:active{
    background-color: rgb(113, 115, 121);

}
.Home_tier1 .home_container .league_table .logo{
    
    width: 39%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Home_tier1 .home_container .league_table .logo img{
    width: 35%;
    padding: 5px 0;
}
.Home_tier1 .home_container .league_table .league_name{
    width: 61%;
    text-align: left;
    font-size: 3vh;
    font-weight: 500;
    padding: 15px 0;
}
.Home_tier1 .home_container .league_table a{
    text-decoration: none;
    color:#fff;
}

.Home_tier1 .home_container .add_league{
    padding: 5px;
    color: white;
    font-size: 2vh;
    background-color: #44B454;
    border: none;
    height: 5vh;
    border-radius: 5px;
    margin-bottom: 2vh;
}
.Home_tier1 .home_container .add_league:active{
    background-color: #26b83c;
}
.Home_tier1 .home_container .add_league:hover{
    border: 1px solid #ffffff;
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}