* {
    padding: 0;
    margin: 0;
}

.detail-add-result-main-wrapper {
    background-color: #2a2c30;
    display: flex;
    flex-direction: column;
    padding: 5vh 10vw;
    margin-top: 8.5vh;
    align-items: center;
}

.detail-add-result-main-wrapper .detail-add-result-header {
    width: 60vw;
    height: 7vh;
    background-color: #545861;
    text-align: center;
    line-height: 7vh;
    font-size: 15px;
    font-weight: bold;
    color: white;
    border-radius: 5px 5px 0 0;
    user-select: none;
}

.detail-add-result-main-wrapper .detail-add-result-content {
    background-color: #3f4249;
    width: 60vw;
    border-radius: 0 0 5px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10vh;
}

.detail-add-result-main-wrapper .detail-add-result-content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 5vh;
}

.detail-add-result-content .detail-add-result-content-wrapper .team-1,
.detail-add-result-content .detail-add-result-content-wrapper .team-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20vw;
    gap: 10px;
    color: white;
    margin-top: 3vh;
    margin-bottom: 3vh;
    font-weight: bolder;
    font-size: 20px;
}

.detail-add-result-content .detail-add-result-content-wrapper .team-1 img,
.detail-add-result-content .detail-add-result-content-wrapper .team-2 img{
  font-weight: normal;
  overflow: hidden;
  font-size: 12px;
}

.detail-add-result-content .detail-add-result-content-wrapper .match-result {
    background-color: #44b454;
    width: 7vw;
    height: 5vh;
    text-align: center;
    color: white;
    font-size: 23px;
    font-weight: bolder;
    line-height: 5vh;
    letter-spacing: 5px;
    user-select: none;
}

* {
    box-sizing: border-box;
  }

  
  /* The actual timeline (the vertical ruler) */
  .timeline {
    position: relative;
    width: 50vw;
    margin: 0 auto;
    margin-bottom: 3vh;
  }
  
  /* The actual timeline (the vertical ruler) */
  .vertical-ruler {
    position: absolute;
    width: 2px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    border-radius: 5px;
  }
  
  /* Container around content */
  .timeline-container {
    padding: 5px 5px;
    position: relative;
    background-color: inherit;
    width: 40%;
    height: fit-content;
  }
  
  /* The circles on the timeline */
  .left .timeline-circle,
  .right .timeline-circle{
    position: absolute;
    width: 13px;
    height: 13px;
    background-color: white;
    top: 19px;
    border-radius: 50%;
    z-index: 1;
  }

  .left .timeline-circle {
    right: -41px;
  }

  .right .timeline-circle {
    left: -44px;
  }
  
  /* Place the timeline-container to the left */
  .left {
    left: 5%;
    display: flex;
    justify-content: end;
    text-align: end;
    position: relative;
  }

  .left .icon-delete {
    position: absolute;
    left: 10px;
    top: 10px;
    color: red;
  }
  
  /* Place the timeline-container to the right */
  .right {
    left: 55%;
    position: relative;
  }

  .right .icon-delete {
    position: absolute;
    top: 10px;
    right: 10px;
    color: red;
  }

  .icon-delete:hover {
    transform: scale(1.2);
  }
  
  /* Add arrows to the left timeline-container (pointing right) */
  .arrow-left {
    height: 0;
    position: absolute;
    top: 12px;
    width: 0;
    z-index: 1;
    right: -10px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  
  /* Add arrows to the right timeline-container (pointing left) */
  .arrow-right {
    height: 0;
    position: absolute;
    top: 12px;
    width: 0;
    z-index: 1;
    left: -10px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
  /* Fix the circle for timeline-containers on the right side */
  .right::after {
    left: -16px;
  }
  
  /* The actual content */
  .timeline-content {
    padding: 7px 18px;
    background-color: white;
    position: relative;
    border-radius: 6px;
    user-select: none;
    width: max-content;
    min-width: 200px;
  }

  /* .timeline-content:hover {
    transform: scale(1.02);
  } */
  
  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {
  /* Place the timelime to the left */
    .timeline::after {
      left: 31px;
    }
  
  /* Full-width timeline-containers */
    .timeline-container {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }
  
  /* Make sure that all arrows are pointing leftwards */
    .timeline-container::before {
      left: 60px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
    }
  
  /* Make sure all circles are at the same spot */
    .left::after, .right::after {
      left: 15px;
    }
  
  /* Make all right timeline-containers behave like the left ones */
    .right {
      left: 0%;
    }
  }

  .detail-add-result-main-wrapper .detail-add-result-content .information-input-wrapper {
    width: 47vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    column-gap: 3vw;
    row-gap: 3vh;
    color: white;
    position: relative;
    padding-bottom: 5vh;
    margin-top: 5vh;
  }

  .detail-add-result-main-wrapper .detail-add-result-content .information-input-wrapper::after {
    content: '';
    width: 45vw;
    height: 1px;
    background-color: #44b454;
    position: absolute;
    bottom: -7vh;
    border-radius: 5px;
    right: 30px;
  }

  .detail-add-result-content .information-input-wrapper .club-input-wrapper, .player-input-wrapper, .event-input-wrapper, .time-input-wrapper, .type-input-wrapper {
    position: relative;    
  }

  .detail-add-result-content .information-input-wrapper select, .detail-add-result-content .information-input-wrapper input {
    position: absolute;
    right: 3vw;
    border: none;
    border-radius: 5px;
    text-align: center;
  }

  .detail-add-result-content .information-input-wrapper label {
    user-select: none;
  }

  .detail-add-result-main-wrapper .detail-add-result-content .btn-wrapper {
    align-self: flex-end;
    width: fit-content;
    margin-right: 10vw;
  }

  .detail-add-result-content .btn-wrapper .btn-delete-result, .btn-add-result, .btn-save-result {
    width: 5vw;
    height: 4vh;
    margin-right: 1vw;
    color: white;
    border: none;
    border-radius: 7px;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 6px 2px 6px rgb(66, 54, 54);
  }

  .detail-add-result-content .btn-wrapper .btn-delete-result:hover, .btn-add-result:hover, .btn-save-result:hover {
    transform: scale(1.05);
    color: white;
  }

  .detail-add-result-content .btn-wrapper .btn-delete-result {
    background-color: #b44444;
  }

  .detail-add-result-content .btn-wrapper .btn-add-result {
    background-color: #2478c6;
  }

  .detail-add-result-content .btn-wrapper .btn-save-result {
    background-color: #44b454;
    margin-right: 0;
  }

  .notification {
    display: none;
    position: absolute;
    right: 70px;
    bottom: 15px;
  }