.goal-main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.goal-main-container .left-column {
    width: 50%;
    padding-top: 5vh;
    padding-bottom: 5vh;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    align-items: center;
}

.goal-main-container .left-column .add-button {
    width: 5vw;
    height: 4vh;
    border-radius: 0 8px 8px 0;
    border: none;
    background-color: rgba(5, 242, 64, 1);
    font-weight: bold;
}

.goal-main-container .left-column .add-button:hover {
    background-color: rgb(5, 226, 60);
    cursor: pointer;
}

.goal-main-container .left-column > table > tr, 
.goal-main-container .left-column > table > td, 
.goal-main-container .left-column > table > th {
    border: 1px solid black;
    height: 4vh;
}

.goal-main-container .left-column table {
    border-collapse: collapse;
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
    vertical-align: middle;
}

.goal-main-container .right-column {
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
    align-items: center;
    gap: 3vh;
}

.goal-main-container .right-column .time-input {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 1.3vw;
}

.goal-main-container .right-column .time-input input {
    height: 4vh;
    width: 7vw;
    text-align: center;
    border-radius: 8px;
    border: none;
}
.goal-main-container .right-column .time-input label {
    line-height: 4vh;
}

.goal-main-container .right-column button {
    width: 8vw;
    height: 4vh;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    background-color: #147695;
    color: white;
}

.goal-main-container .right-column button:hover {
    cursor: pointer;
    background-color: #10647e;
}

.icon-delete {
    font-size: 10px;
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
 {
  -webkit-appearance: none;
  margin: 0;
}

@keyframes shake-input {
    0% {transform: translateX(0);}
    25% {transform: translateX(2px);}
    75% {transform: translateX(-2px);}
    100% {transform: translateX(0);}
}

.data-empty {
    animation: shake-input 0.16s ease-in-out 0s 3;
}

.notification-text {
    margin-right: 2px;
    margin-bottom: -15px;
    font-size: 13px;
    display: none;
}

.left-column .goal-input-container .goal-input {
    height: 4vh;
    width: 10vw;
    border-radius: 8px 0 0 8px;
}

.left-column .goal-input-container .notification-text-goal {
    margin-left: 40px;
    margin-bottom: 7px;
    font-size: 13px;
    display: none;
}

.left-column .icon-delete {
    border: none;
    background-color: transparent;
    width: 15px;
    height: 15px;
    margin-top: 9px;
}